<div class="page_container">
	<div class="hero">
	  <div class="hero_left">
	    <img class="hero_image" src="" alt="=">
	  </div>
	  <div class="hero_center">
	    <h1 class="hero_item"></h1>
	    <ul class="hero_list">
	    </ul>
	  </div>
	  <div class="hero_right">
	    <div class="hero_add_to_cart btn">Add to Cart</div>
	    <span class="hero_price"></span>
	  </div>
	  <div class="clearfix"></div>
	</div>

	<div class="product_area">
		{{#each products}}
			<div class="product_card">
				<img src="{{imageUrls.sm}}" alt="{{description}}" class="product_image">
				<p class="product_description">{{description}}</p>
				<span class="product_price">${{pricing.price.selling}}</span>
				<div class="btn product_btn">View More</div>
				<div class="marketing_bullets">
					{{#each marketingBullets}}
						<li>{{this}}</li>
					{{/each}}
				</div>
			</div>
		{{/each}}
	</div>
</div>